
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<div class="row">
    <div class="col-md-4">
        id:
        <label id="lblid" class="control-label"></label>
        <br />
        Name:
        <label id="lblName" class="control-label"></label>
        <br />
        Gender:
        <label id="lblGender" class="control-label"></label>
        <br />
        Age:
        <label id="lblAge" class="control-label"></label>
       </div>
       </div>
