@{
    ViewBag.Title = "Index";
}

@model ClsStudent


<script src="~/lib/jquery/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btnSave").click(function (event) {
            event.preventDefault();
            var student = {
                Name: $("#txtname").val(),
                Gender: $("#txtgender").val(),
                Age: $("#txtage").val(),
            };

            $.ajax({
                type: 'POST',
                url: '/Student/Index', // Make sure the URL is correct
                data: JSON.stringify(student),
                contentType: 'application/json; charset=utf-8', // Correct the contentType
                success: function (response) {
                    alert(response.successMessage);
                },
                error: function (response) {
                    alert('There is some problem adding data');
                }
            });
        });
    });

</script>



<h1> Create </h1>

Name:
<input type="text" id="txtname" class="form-control" />
Gender:
<input type="text" id="txtgender" class="form-control" />
Age:
<input type="text" id="txtage" class="form-control" />
<br />
<br />

<input type="button" id="btnSave" value="Save" />






