
@{
    ViewData["Index"] = "index page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    $(document).ready(function (){
        $(function () {
            $('#btnsave').click(function (event) {

                event.preventDefault();
                var Student = {
                    Name: $('#txtcode').val(),
                    Gender: $('#txtgender').val(),
                    Age: $('#txtage').val()
                }

                $.ajax({
                    type:'POST',
                    url:'/Student/Index',
                    data:JSON.stringify(Student),
                    contentType:'application/json;charset-utf-8',
                    success: function (response) {
                        alert('SuccessFully Added')
                    },
                    error: function (response) {
                        alert('there is some proble to add data');
                    }
                })
            });
        })
    })

</script>

<h1> Create </h1>

Name:
<input type="text" id="txtcode" class="form-control" />
Gender:
<input type="text" id="txtgender" class="form-control" />
Age:
<input type="text" id="txtage" class="form-control" />
<br />
<br />
<input type="button" class="btn btn-info" name="btnsave" value="submit" />